/* General */
html
{
    background-image: url("../img/kitsune.jpg");
    background-size:cover;
    background-attachment: fixed;
}
/* Head */
header h1
{
    color: rgb(207, 244, 245);
    text-align: center;
    font-size: 300%;
    padding:0.5%;
    background:rgba(0, 0, 0, 0.5);
}
header a
{
    text-decoration: none;
    color:rgb(207, 244, 245);
}
/* Nav */
nav a
{
    display: block;
    text-align: center;
    font-weight: bold;
    padding: .5rem 0;
    text-decoration:none;
    color: white;
    border: 5px outset white;
    font-size: 200%;
    background: linear-gradient(to bottom, #000000 0%,#aaaaaa 50%,#000000 100%);
}
nav
{
    font-size:100%;
    margin: 2em auto 2em;
    width: 75%;
    align-self: center;
    max-height: 30em;
}
nav li
{
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto 0;
}
nav ul
{
    list-style:none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto 0;
    overflow: auto;
    max-height: 40em;
}
::-webkit-scrollbar
{
    background-blend-mode: hue;
}
/* Main */
/* Footer */
/* Special */