/* *** *//* *** *//* *** *//* *** *//* *** *//* *** *//* *** *//* *** *//* *** *//* *** *//* *** *//* *** *//* *** */
*
{
    padding: 0;
    margin: 0;
}
    /* html *//* html *//* html *//* html *//* html *//* html *//* html *//* html *//* html *//* html *//* html *//* html */
    html
    {
        background: url("../img/maxresdefault.jpg");
        background-attachment: fixed;
        background-size: cover;
    }
        /* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body *//* body */
        body
        {
            display: grid;
            grid-template: auto auto auto / repeat(12, 1fr);
            background: rgba(177, 177, 177, 0.65);
        }
            /* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header */
            header
            {
                grid-column: 1/13;
                grid-row: 1/3;
                background: rgba(70, 70, 70, 0.65);
                padding: 3rem;
                margin: 0;
            }
            header h1
            {
                font-size: 4em;
            }
            header h4
            {
                margin-left: 8em;
                color: rgb(75, 0, 0);
            }
            /* <HEADER> *//* <HEADER> *//* <HEADER> *//* <HEADER> *//* <HEADER> *//* <HEADER> *//* <HEADER> *//* <HEADER> */
            /* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav */
            nav
            {
                grid-column: 7/13;
                grid-row: 1/2;
            }
            nav ul
            {
                display: flex;
                justify-content: space-between;
                padding: 0;
                width: 100%;
               
            }
            nav ul li
            {
                list-style: none;
                flex-basis: 33%;
                margin-right: 1.5em;
                text-align: center;
            }
            nav ul li:last-child
            {
                margin-right: 3em;
            }
            nav ul li a, nav ul li a:visited
            {
                display: block;
                background: rgba(55, 55, 55, 0.3);
                border-radius: 20px;
                border: 1px solid rgba(30, 30, 30, 0.5);
                width: 100%;
                padding: 0.5em;
                color: white;
                font-size: 1em;
                text-decoration: none;
            }
            nav ul li a:hover, nav ul li a:focus
            {
                background: rgb(55, 55, 55);
            }
            /* <NAV> *//* <NAV> *//* <NAV> *//* <NAV> *//* <NAV> *//* <NAV> *//* <NAV> *//* <NAV> *//* <NAV> *//* <NAV> */
            /* main *//* main *//* main *//* main *//* main *//* main *//* main *//* main *//* main *//* main *//* main */
            main
            {
                grid-column: 1/13;
                grid-row: 3/4;
                width: 80%;
                margin: 0 auto 1em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            main section
            {
                background: rgba(120, 132, 145, 0.8);
                color: rgb(250, 235, 215);
                margin: 0.4em;
                padding: 0.4em;
                border: 1px solid black;
                border-radius: 20px;
            }
            main section h3
            {
                color: darkred;
                text-align: center;
            }
            main section p
            {
                margin-left: 1em;
                margin-bottom: 0.5em;
            }
            main section img
            {
                max-width: 80%;
                margin: 0 auto 0;
                display: block;
            }
            main section img.crow
            {
                max-height: 25em;
            }
            main section ul li, main section ol li
            {
                margin-left: 2em;
            }
            main section ul li h4
            {
                color: rgb(73, 3, 3);
            }
            
            /* <MAIN> *//* <MAIN> *//* <MAIN> *//* <MAIN> *//* <MAIN> *//* <MAIN> *//* <MAIN> *//* <MAIN> *//* <MAIN> */
            /* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
            footer
            {
                position:fixed;
                bottom:0;
                left:0;
                right:0;
                height:1em;
                background: steelblue;
                padding: 0.15em;
                text-align: right;
            }
            footer p
            {
                margin-right: 1em;
            }
            /* <FOOTER> *//* <FOOTER> *//* <FOOTER> *//* <FOOTER> *//* <FOOTER> *//* <FOOTER> *//* <FOOTER> *//* <FOOTER> */
        /* <BODY> *//* <BODY> *//* <BODY> *//* <BODY> *//* <BODY> *//* <BODY> *//* <BODY> *//* <BODY> *//* <BODY> *//* <BODY> */
    /* <HTML> *//* <HTML> *//* <HTML> *//* <HTML> *//* <HTML> *//* <HTML> *//* <HTML> *//* <HTML> *//* <HTML> *//* <HTML> */
/* <***> *//* <***> *//* <***> *//* <***> *//* <***> *//* <***> *//* <***> *//* <***> *//* <***> *//* <***> *//* <***> *//* <***> */